* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 20px;
    height: 20px;
}
table th {
    align-items: start;
}
table, tr, td {
    border: 0px solid;
    width: 900px;
    height: 30px;
    text-align: center;
}
table .row {
}